
.noshow-overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  color: #333;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}